---
# Only the main Sass file needs front matter (the dashes are enough)
---

@media screen {
  html {
    background-color: #333;
    max-width: 35em;
    margin: 0 auto;
    @media (min-width: 50em) {
      max-width: 20em;
    }
  }

  body {
    background-color: #fff;
  }  
}

@import "mixins";
@import "typography";
@import "theme-gem-enhanced";