/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.i-rape-crisis-email:before {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.i-rape-crisis-facebook:before {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -32px;
  width: 70px;
  height: 70px;
}
.i-rape-crisis-location:before {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -102px;
  width: 32px;
  height: 32px;
}
.i-rape-crisis-phone:before {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -134px;
  width: 32px;
  height: 32px;
}
.i-rape-crisis-pinterest:before {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -166px;
  width: 70px;
  height: 70px;
}
.i-rape-crisis-twitter:before {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -236px;
  width: 70px;
  height: 70px;
}
.i-rape-crisis-youtube:before {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -306px;
  width: 70px;
  height: 70px;
}
