/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.i-rape-crisis-email {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px 0px;
  width: 25px;
  height: 25px;
}
.i-rape-crisis-facebook {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -25px;
  width: 70px;
  height: 70px;
}
.i-rape-crisis-fundraise {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -95px;
  width: 128px;
  height: 128px;
}
.i-rape-crisis-icons {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -223px;
  width: 256px;
  height: 6395px;
}
.i-rape-crisis-location {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -6618px;
  width: 25px;
  height: 25px;
}
.i-rape-crisis-myschool {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -6643px;
  width: 128px;
  height: 128px;
}
.i-rape-crisis-phone {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -6771px;
  width: 25px;
  height: 25px;
}
.i-rape-crisis-pinterest {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -6796px;
  width: 70px;
  height: 70px;
}
.i-rape-crisis-smart-shopper {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -6866px;
  width: 128px;
  height: 128px;
}
.i-rape-crisis-stats-cases {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -6994px;
  width: 64px;
  height: 64px;
}
.i-rape-crisis-stats-chart {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -7058px;
  width: 64px;
  height: 64px;
}
.i-rape-crisis-stats-court {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -7122px;
  width: 65px;
  height: 69px;
}
.i-rape-crisis-stats-report {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -7191px;
  width: 64px;
  height: 64px;
}
.i-rape-crisis-twitter {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -7255px;
  width: 70px;
  height: 70px;
}
.i-rape-crisis-youtube {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -7325px;
  width: 70px;
  height: 70px;
}
