---
layout: default
---

<div class="header-centered" role="banner">
  <ul class="nav list-inline" role="navigation">
    <li class="active"><a href="#">List Item 1</a></li><li><a href="#">List Item 2</a></li><li><a href="#">List Item 3</a></li>
  </ul>
  <div class="logo">
    {% include logo.html %}
  </div>
  <ul class="nav list-inline" role="navigation">
    <li><a href="#">List Item 1</a></li><li><a href="#">List Item 2</a></li><li><a href="#">List Item 3</a></li>
  </ul>
  <div class="banner">
    {% include img.html %}
  </div>
</div>