---
layout: default
---

<div class="main" role="main">

  <div class="sg-category">
    <h1>All The Things</h1>
    <a href="/fufu/ecosystems/all-the-things.html">View All The Things</a>
  </div>  

  <div class="sg-category">
    <h1>Atoms</h1>
    <a href="atoms.html">View all atoms</a>

    <ul>
    {% for atom in site.atoms %}
      <li>
        <a href="/fufu{{ atom.url }}">{{ atom.url }}</a>
      </li>
    {% endfor %}      
    </ul>
  </div>

  <div class="sg-category">
    <h1>Molecules</h1>
    <a href="molecules.html">View all molecules</a>

    <ul>
    {% for molecule in site.molecules %}
      <li>
        <a href="/fufu{{ molecule.url }}">{{ molecule.url }}</a>
      </li>
    {% endfor %}      
    </ul>
  </div>

  <div class="sg-category">
    <h1>Organisms</h1>
    <a href="organisms.html">View all organisms</a>

    <ul>
    {% for organism in site.organisms %}
      <li>
        <a href="/fufu{{ organism.url }}">{{ organism.url }}</a>
      </li>
    {% endfor %}      
    </ul>
  </div>

</div>
