---
layout: default
---

<div class="main">

  <div class="sg-category">
    {% for atom in site.atoms %}
      <div class="sg-item">
        <div class="sg-link">
          <a href="/fufu/{{ atom.url }}">/fufu/{{ atom.url }}</a> &darr;
          {{ atom.fish }}
        </div>
        {{ atom.content }}
      </div>
    {% endfor %}
  </div>

  <div class="sg-category">
    {% for molecule in site.molecules %}
      <div class="sg-item">
        <div class="sg-link">
          <a href="/fufu/{{ molecule.url }}">/fufu/{{ molecule.url }}</a> &darr;
        </div>
        {{ molecule.content }}
      </div>
    {% endfor %}
  </div>

  <div class="sg-category">
    {% for organism in site.organisms %}
      <div class="sg-item">
        <div class="sg-link">
          <a href="/fufu/{{ organism.url }}">/fufu/{{ organism.url }}</a> &darr;
        </div>
        {{ organism.content }}
      </div>
    {% endfor %}
  </div>

</div>
