---
layout: default
fufu-theme: -rape-crisis
---

<div class="main">

  <div class="sg-category">
    {% for molecule in site.molecules %}
      {% if molecule.name == 'btn-group-download' or molecule.name == 'nav-social-rape-crisis' %}
        <div class="sg-item" id="{{ molecule.name }}">
          <div class="sg-link">
            <a href="#{{ molecule.name }}">{{ molecule.url  | replace: '/molecules/', ''  | replace: '.html', '' }}</a> &darr;
          </div>
          {{ molecule.content }}
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>
