---
layout: default
fufu-theme: -rape-crisis
---

<div class="main">

  <div class="sg-category">
    {% for organism in site.organisms %}
      {% if organism.name == "panel-team" or organism.name == "panel-stats" or organism.name == "panel-org" or organism.name == "panel-what-to-do" or organism.name == "panel-article" or organism.name == "panel-other-ways" or organism.name == "panel-article-alt" or organism.name == "footer-rape-crisis" or organism.name == "footer-rape-crisis-find-us" or organism.name ==  "panel-preventing-rape" or organism.name == "panel-volunteer" or organism.name == "panel-support" or organism.name == "panel-facts" or organism.name == "panel-article-alt-donate" %}
        <div class="sg-item" id="{{ organism.name }}">
          <div class="sg-link">
            <a href="#{{ organism.name }}">{{ organism.url  | replace: '/organisms/', ''  | replace: '.html', '' }}</a> &darr;
          </div>
          {{ organism.content }}
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>
