// Placeholder styles

.i {
  display: inline-block;
  overflow: hidden;
  text-align: right;
  text-indent: 100%;
  background-image: url("/img/icons.png");
  background-color: transparent;
  background-repeat: no-repeat;
  white-space: nowrap;
}

.i-specific {
  background-position: 0 -16px;
  height: 42px;
  width: 42px;
  margin-right: 20px;
}

