// Divide the page into sections.
// Layouts hold one or more modules together.
// Layouts specify widths and margins
// Layouts specify color/background
// Use .l- prefix.

// Use @include respond-min(60em) { ... } to bracket responsive elements

// text alignment

.l-tac {
  text-align: center;
}

.l-tar {
  text-align: right;
}

.l-tal {
  text-align: left;
}


// response images support for featurephones and up

.banner {
  img {
    width: 100%;
    max-width: 100%;
  }
}
