@mixin links($linkcolor) {
  a {
    color: $linkcolor;
    &:visited {
      color: $linkcolor;
    }
    &:hover {
      text-decoration: none;
      color: darken($linkcolor, 10);
    }
    &:focus {
      outline: thin dotted;
      color: darken($linkcolor, 10);
    }
    &:hover,
    &:active {
      outline: 0;
    }
  }
}

@mixin fancy-list-headers($background, $highlight) {
  .list-header {
    background: $background;
    a {
      background: $highlight;
      display: inline-block;
      padding-left: 1em;
      margin: -0.5em -0.5em -0.5em -0.5em; // because we don't want to change .list-header: they're not all <a>s
      position: relative;
     &:after {
      content: "";
      display: block;
      width: 2em;
      position: absolute;
      top: 0;
      right: -2em;
      bottom: 0;
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$highlight), color-stop(50%,$highlight), color-stop(50%,$background), color-stop(100%,$background)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg, $highlight 0%,$highlight 50%, $background 50%, $background 100%); /* Chrome10+,Safari5.1+ */
      background: linear-gradient(135deg, $highlight 0%,$highlight 50%, $background 50%, $background 100%); /* W3C */      
     } 
    }
  }
}