// Flexible dimensions.
// Self-contained and reusable, repeatable patterns.
// Module specific classes should be module name prefixed.
// Module subclass class names should be double-hyphened: module--subclass.
// High-level modules should not depend on low-level modules. Both should depend on abstractions.
// Use Icon Modules where appropriate.

// Examples
// accordion
// alerts
// carousel
// code
// dropdowns
// forms
// media
// modals

// For asset fonts
// [data-icon]:before {
//      content: attr(data-icon);
//      font-family: "AssetFont";
//      speak: none;
// }
// <a data-icon="&#xe012;" href="">Link Text</a>

@import "variables";

// breadcrumbs
// navbar
// nav
// pagination

//links
a {
	color:$primaryColor;
	text-decoration: none;
}

.highlight-primary {
	background-color: $primaryColor;
	color: $secondaryColor;
}

.highlight-primary a {
	color: $secondaryColor;
}

.highlight-secondary{
	background-color: $secondaryColor;
	color: $tertiaryColor;
}

.highlight-secondary a {
	color: $tertiaryColor;
}

.nav {
  a {
  	padding: 0 0.5em;
  	@extend %l-ib;
  }
}

.list-inline {

	@extend %no-bull;
	@extend %no-m;
	padding: 0.25em;

	li {
		@extend %l-ib;
		border-left: solid 1px;
		&:first-child {
			border-left: none;
		}
	}

	a {
	}

}

.displayblock{
	@extend %no-p;
	li{
		@extend %l-db;
		border-bottom-style: 1px solid;
		a{
			display: block;
			padding: 0.5em;
		}
	}
}

.b-b {    
    border-bottom-style: solid;
}

// [fufu], .nav {
//   background: $primaryColor;
//   color: $secondaryColor;
//   a {
//     @extend %l-db;
//     @extend %pad-s;
//     color: $tertiaryColor;
//   }
// }

