// Flexible dimensions.
// Self-contained and reusable, repeatable patterns.
// Module specific classes should be module name prefixed.
// Module subclass class names should be double-hyphened: module--subclass.
// High-level modules should not depend on low-level modules. Both should depend on abstractions.
// Use Icon Modules where appropriate.

// Examples
// accordion
// alerts
// carousel
// code
// dropdowns
// forms
// media
// modals

// For asset fonts
// [data-icon]:before {
//      content: attr(data-icon);
//      font-family: "AssetFont";
//      speak: none;
// }
// <a data-icon="&#xe012;" href="">Link Text</a>

@import "variables";

// breadcrumbs
// navbar
// nav
// pagination

//links
a {
	color:$colorFirst;
	text-decoration: none;
}

.highlight-primary {
	background-color: $colorFirst;
	color: $colorSecond;
}

.highlight-primary a {
	color: $colorSecond;
}

.highlight-secondary{
	background-color: $colorSecond;
	color: $colorThird;
}

.highlight-secondary a {
	color: $colorThird;
}

.nav {
  a, p {
  	padding: 0.5em;
  }
}

.list-inline {
	@extend %no-bull;
	@extend %no-m;
	padding: 0.25em;
	li {
		@extend %l-ib;
		border-left: solid 2px;
		&:first-child {
			border-left: none;
		}
	}
}

.list-block {
	@extend %no-mp;
	li {
		@extend %l-db;
		border-bottom: 1px solid;
		a{
			display: block;
			padding: 0.5em;

		}
	}
	a {
		@extend %l-db;
	} Is 
	h1, h2, h3,
	p {
		margin: 0;
	}
	/* extended lists */
	.more {
		border-top: solid 1px;
		background-color: #eee;
		font-weight: bold;
	}
}

.list-header {
	border-bottom: solid 1px;
	@extend %no-m;
	@extend %pad-s;
}

// [fufu], .nav {
//   background: $colorFirst;
//   color: $colorSecond;
//   a {
//     @extend %l-db;
//     @extend %pad-s;
//     color: $colorThird;
//   }
// }

