// Our starter classes
.i {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.i-arrow {
  position: relative;
  display: block;
  &:before {
    display: block;
    position: absolute;
    content: "";
    top: 0.2em;
    left: -1.1em;
    width: 0;
    height: 0;
    background-color: transparent;
    border: solid 0.5em transparent;
    border-left-color: #fff;
    border-radius: 0.2em;
  }
}

.i-arrow-up {
  position: relative;
  display: block;
  &:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: -1.5em;
    width: 0;
    height: 0;
    background-color: transparent;
    border: solid 0.5em transparent;
    border-bottom-color: #fff;
    border-radius: 0.2em;
  }
}

// Classes from the generated rape-crisis-icons.css, using the .spritesmith.js
// We remove the :before since were using them inline

@import "rape-crisis-icons-spritesmith";
