// lists

.list-ordered {
  counter-reset: fancyorderedlist;
  padding: 0;
  list-style: none;
  > li {
    counter-increment: fancyorderedlist;
    position: relative;
    margin-bottom: 3em;
    &:before {
      position: absolute;
      left: 0;
      top: -0.5em;
      content: counter(fancyorderedlist);
      font-size: 1.53em;
      line-height: 1.413;
    }
  }
}

.panel-what-to-do {
  counter-reset: whattodo;
}

.list-ordered {
  h4 {
    text-transform: uppercase;
    padding-left: 3em;
  }
  > li {
    counter-increment: whattodo;
    &:before {
      content: counter(whattodo);
      @include one-letter-circle;
    }
    &:nth-of-type(4n+1) {
      &:before {
        background-color: darken($colorSecond, 10%);
      }
    }
    &:nth-of-type(4n+2) {
      &:before {
        background-color: $colorSecond;
      }
    }
    &:nth-of-type(4n+3) {
      &:before {
        background-color: lighten($colorSecond, 10%);
      }
    }
    &:nth-of-type(4n+4) {
      &:before {
        background-color: adjust-hue($colorSecond, 40%);
      }
    }
  }
}

.list-ordered-alt {
  h4 {
    padding-left: 2.5em;
    text-transform: none;
  }
  > li {
    &:before {
      color: $colorSecond;
      border: solid 2px $colorSecond;
      border-radius: 0.25em;
      padding: 0.25em 0.6em;
    }
    &:nth-of-type(n) {
      &:before {
        background-color: transparent;
      }
    }
  }
}

.list-ordered-alt {
  counter-reset: fancyorderedlistalt;
  > li {
    counter-increment: fancyorderedlistalt;
    &:before {
      content: counter(fancyorderedlistalt);
    }
  }
}

.panel-support {
  counter-reset: supportlist;
  .list-ordered-alt {
    > li {
      counter-increment: supportlist;
      &:before {
        content: counter(supportlist);
      }
    }
  }
}

.list-accordion {
  li {
    padding: 0.5em 0;
    border-bottom: solid 1px lighten($colorThird, 20%);
    &:first-child {
      border-top: solid 1px lighten($colorThird, 20%);
    }
  }
  :target[id] {
    .list-accordion-header {
      &:after {
        content: "-";
        background-color: $colorFirst;
        padding: 0 0.4em 0.125em 0.4em;
      }
    }
  }
}

.list-accordion-header {
  display: block;
  position: relative;
  line-height: 2;
  padding-right: 2em;
  @include uc;
  text-decoration: none;
  color: $colorSecond;
  &:visited {
    color: $colorSecond;
  }
  &:hover {
    text-decoration: underline;
  }
  &:after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0;
    background-color: $colorSecond;
    color: #fff;
    padding: 0.1em 0.3em;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1;
  }
}

.list-tabs {
  clear: both;
  background-color: black; // !!!
  border-bottom: solid 1px lighten($colorThird, 40%);
  a {
    padding: 1em;
    color: $colorThird;
    background-color: $colorFourth;
    text-decoration: none;
    text-transform: uppercase;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
  }
  .tab-selected {
    position: relative;
    &:after {
      content: "";
      border-bottom: solid 1px white;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
    }
    a {
      color: $colorSecond;
      background-color: white;
    }
  }
}

.list-tabs-alt {
  a {
    color: $colorSecond;
    background-color: transparent;
  }
  .tab-selected {
    a {
      background-color: white;
      @media (min-width: 40em) {
        &:after {
          display: block;
          position: absolute;
          content: "";
          left: 45%;
          bottom: -0.25em;
          width: 0;
          height: 0;
          background-color: transparent;
          border: solid 0.5em transparent;
          border-top-color: $colorSecond;
          border-radius: 0.2em;
        }
      }
    }
  }
}

.list-tab-item {
  padding: 1em;
}
