// Our starter classes
.i {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.i-arrow {
  position: relative;
  display: block;
  &:before {
    display: block;
    position: absolute;
    content: "";
    top: 0.2em;
    left: -1.1em;
    width: 0;
    height: 0;
    background-color: transparent;
    border: solid 0.5em transparent;
    border-left-color: #fff;
    border-radius: 0.2em;
  }
}

.i-arrow-up {
  position: relative;
  display: block;
  &:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: -1.5em;
    width: 0;
    height: 0;
    background-color: transparent;
    border: solid 0.5em transparent;
    border-bottom-color: #fff;
    border-radius: 0.2em;
  }
}

// Classes from the generated rape-crisis-icons.css, using the .spritesmith.js
// We remove the :before since were using them inline

.i-rape-crisis-email {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px 0px;
  width: 25px;
  height: 25px;
}
.i-rape-crisis-facebook {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -25px;
  width: 70px;
  height: 70px;
}
.i-rape-crisis-fundraise {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -95px;
  width: 128px;
  height: 128px;
}
.i-rape-crisis-icons {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -223px;
  width: 256px;
  height: 2700px;
}
.i-rape-crisis-location {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -2923px;
  width: 25px;
  height: 25px;
}
.i-rape-crisis-myschool {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -2948px;
  width: 128px;
  height: 128px;
}
.i-rape-crisis-phone {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -3076px;
  width: 25px;
  height: 25px;
}
.i-rape-crisis-pinterest {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -3101px;
  width: 70px;
  height: 70px;
}
.i-rape-crisis-smart-shopper {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -3171px;
  width: 128px;
  height: 128px;
}
.i-rape-crisis-twitter {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -3299px;
  width: 70px;
  height: 70px;
}
.i-rape-crisis-youtube {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -3369px;
  width: 70px;
  height: 70px;
}
