// Our starter classes
.i {
  display: inline-block;
  overflow: hidden;
  width: 70px;
  height: 70px;
  position: relative;
}

.i-s {
  display: inline-block;
  overflow: hidden;
  width: 32px;
  height: 32px;
  position: relative;
}

.i-arrow {
  position: relative;
  display: block;
  &:before {
    display: block;
    position: absolute;
    content: "";
    top: 0.2em;
    left: -1.1em;
    width: 0;
    height: 0;
    background-color: transparent;
    border: solid 0.5em transparent;
    border-left-color: #fff;
    border-radius: 0.2em;
  }
}


// Classes from the generated rape-crisis-icons.css, using the .spritesmith.js
/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.i-rape-crisis-email {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px 0px;
}

.i-rape-crisis-facebook {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -32px;
}

.i-rape-crisis-location {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -102px;
}

.i-rape-crisis-phone {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -134px;
}

.i-rape-crisis-pinterest {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -166px;
}

.i-rape-crisis-twitter {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -236px;
}

.i-rape-crisis-youtube {
  background-image: url(img/rape-crisis/icons.png);
  background-position: 0px -306px;
}
