.i-rape-crisis-email {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px 0px;
  width: 25px;
  height: 25px;
}
.i-rape-crisis-facebook {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -25px;
  width: 70px;
  height: 70px;
}
.i-rape-crisis-fundraise {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -95px;
  width: 128px;
  height: 128px;
}
.i-rape-crisis-icons {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -223px;
  width: 256px;
  height: 4917px;
}
.i-rape-crisis-location {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -5140px;
  width: 25px;
  height: 25px;
}
.i-rape-crisis-myschool {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -5165px;
  width: 128px;
  height: 128px;
}
.i-rape-crisis-phone {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -5293px;
  width: 25px;
  height: 25px;
}
.i-rape-crisis-pinterest {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -5318px;
  width: 70px;
  height: 70px;
}
.i-rape-crisis-smart-shopper {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -5388px;
  width: 128px;
  height: 128px;
}
.i-rape-crisis-twitter {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -5516px;
  width: 70px;
  height: 70px;
}
.i-rape-crisis-youtube {
  background-image: url(img/rape-crisis/icons/icons.png);
  background-position: 0px -5586px;
  width: 70px;
  height: 70px;
}
