// panels

.panel-c {
  text-align: center;
  clear: left;
}

.panel-alt {
  @include clearfix;
  padding: 2em;
  background-color: $colorFourth;
}

.panel-inv {
  @include clearfix;
  padding: 1em;
  background: $colorFirst;
  color: #fff;
}

.panel-inv-alt {
  @include clearfix;
  padding: 1em;
  background: darken($colorThird, 15%);
  color: #fff;
}

.panel-light {
  @include clearfix;
  background-color: lighten($colorSecond, 50%);
  padding: 1em;
}

.panel-footer {
  @include clearfix;
  padding: 1em;
  background: darken($colorSecond, 20%) url(img/rape-crisis/footer-bg.jpg) 0 0 repeat;
  background-size: cover;
  color: #fff;
  a {
    text-decoration: none;
    color: lighten($colorSecond, 30%);
    &:visited {
      color: $colorSecond;
    }
  }
  img {
    max-width: 72px;
  }
}

.panel-inset {
  @background-color: $colorFourth;
  margin: 1em;
  padding: 2em;
  border: solid 1px darken($colorFourth, 10%);
  border-radius: 0.25em;
}

.panel-donate {
  @include clearfix;
  background: $colorFourth;
  img {
    @media (min-width: 35em) {
      float: left;
      margin-right: 2em;
    }
  }
  .btn {
    @media (min-width: 60em) {
      float: right;
    }
  }
  .panel-donate-text {
    @media (min-width: 60em) {
      float: left;
      width: 20em;
    }
    @media (min-width: 70em) {
      width: 30em;
    }
  }
}

.panel-stats {
  text-align: center;
  margin: 2em 0;
  background: $colorThird url(img/rape-crisis/panel-stats-bg.jpg) 0 0 repeat;
  background-size: cover;
  color: lighten($colorThird, 40%);
  padding: 2em 0;
  .panel-item {
    @include grid-2up-big-gutter;
    @include grid-4up-big-gutter;
  }
}

.panel-facts {
  background: rgb(27,	21,	20) url(img/rape-crisis/panel-facts-bg.jpg) 0 50% no-repeat;
  background-size: cover;
  color: #fff;
  padding: 6em 2em;
}

.panel-item-team {
  // font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
  @include grid-2up-big-gutter;
  @include grid-4up-big-gutter;
  h4 {

  }
}

.panel-org,
.panel-what-to-do,
.panel-the-road,
.panel-other-ways {
  .panel-item, .panel-item-alt {
    @include grid-3up;
  }
}

.panel-org {
  text-align: left;
  a {
    color: $colorSecond;
  }
}

.panel-the-road {
  img {
      @media (min-width: 30em) {
        width: 70%;
        margin-top: 0;
      }
      @media (min-width: 45em) {
        width: 70%;
      }
  }
}

.panel-article {
  @media (min-width: 38em) {
    padding-left: 40%;
    background-color: transparent;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 35%;
  }
  @media (min-width: 64em) {
    padding-left: 50%;
    background-size: 45%;
  }
  @media (min-width: 72em) {
    background-size: 35%;
  }
}

.panel-article-flip {
  @media (min-width: 38em) {
    padding-right: 40%;
    background-color: transparent;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 35%;
  }
  @media (min-width: 64em) {
    padding-right: 50%;
    background-size: 45%;
  }
}


.panel-article-alt {
  text-align: left;
  @media (min-width: 45em) {
    .panel-item {
      float: left;
      &:nth-child(1) {
        width: 62%;
        margin-right: 3%;
      }
      &:nth-child(2) {
        width: 35%;
      }
    }
  }
}

.article-extra {
  margin-bottom: 2em;
  border-radius: 0.25em;
}

.panel-the-road {
  padding: 0;
  .panel-item {
    padding: 1em;
    background-color: $colorFourth;
  }
  .panel-item:nth-child(even) {
    background-color: #e1edf0;
  }
  h4 {
    font-size: 1.5em;
    margin: 1em 0;
  }
}

.panel-footer {
  // font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  .panel-item {
    @include grid-2up-big-gutter;
    @include grid-4up-big-gutter;
  }
}

.panel-preventing-rape {
  .panel-item {
    @include grid-2up-big-gutter;
    @include grid-4up-big-gutter;
  }
}

.panel-support {
  .panel-item {
    @include grid-2up-big-gutter;
  }
}

.panel-our-grant-makers-container {
  overflow-x: auto;
  overflow-y: hidden;
  .panel-our-grant-makers-inner {
    width: 2240px;
    img {
      margin-right: 20px;
    }
    a {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      &:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
  }
}

.panel-grant-makers {
  img {
    padding: 0 1em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

.panel-mw ,
.banner,
.panel-article-alt {
  max-width: 70em;
  margin-right: auto;
  margin-left: auto;
}

.banner {
  clear: both;
  position: relative;
  .btn {
    position: absolute;
    left: 10%;
    bottom: 10%;
  }
  h2 {
    font-size: 1em;
    @media (min-width: 40em) {
      font-size: 2em;
    }
  }
  .btn {
    font-size: 1em;
  }
}

.banner-heading {
  background-color: black;
  color: $colorSecond;
  padding: 0.25em;
  position: absolute;
  left: 10%;
  bottom: 40%;
}

.panel-find-us {
  h2 {
    margin-bottom: 0;
    margin-right: 0.5em;
    float: left;
    line-height: 2;
  }
  .list-inline {
    padding-right: 0;
    padding-left: 0;
  }
}
