// Facts for Life

$colorFirst: #cce9fc; // baby blue
$colorSecond: #fff; // white
$colorThird: #0093ef; // blue
$colorFourth: #92AFC1; // grey blue


// white, blue links, on baby blue
.highlight-primary {
  background-color: $colorFirst;
  color: $colorSecond;
  a {
    color: $colorSecond;
  }
}

// white on blue
.highlight-secondary {
  background-color: $colorThird;
  color: $colorSecond;
  a {
    color: $colorSecond;
  }
}