// Rape Crisis

.btn {
  color: $colorFirst;
  font-size: 1.16em;
  border-radius: 0.25em;
}

h1, h2, h3, h4,
input, textarea, keygen, select, button {
  // is this really necessary?
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.panel {
  @include l-tac;
  @include clearfix;
  margin: 2em 0;
  &:first-child {
    h1, h2, h3, h4 {
        color: $colorFirst;
    }
  }
}

.main {
  .panel:first-child {
    margin-top: 0;
  }
}

h2 {
  font-size: 2.5em;
  line-height: 1.417;
}

h4 {
  font-size: 1.53em;
  line-height: 1.413;
}

.cta-crisis-line {
  font-size: 1.5em;
  margin: 0.5em;
}

// panels

.panel {
  @include clearfix;
  img {
    margin-bottom: 2em;
  }
  h2 {
    img {
      margin-bottom: 0;
    }
  }
}

.panel-item-alt {
  padding: 1em;
  border: solid 1px darken($colorFourth, 10%);
  border-radius: 0.25em;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    border: solid 0.1em darken($colorFourth, 20%);
    right: 0;
    bottom: -0.2em;
    left: 0;
    border-bottom-right-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    opacity: 0.25;
  }
}

.panel-item-team {
  font-size: 1.53em;
  line-height: 1.413;
  img {
    display: block;
    width: 50%;
    margin: 0 auto 2em auto;
  }
  p {
    margin-bottom: 0;
  }
  p:first-of-type {
    color: $colorThird;
    margin-top: 0;
    font-size: 0.75em;
  }
}

// typography

.list-inline {
  li {
    margin-left: 0.1em;
    margin-right: 0.1em;
  }
}

// nav

.nav-social {
  @media(min-width: 35em) {
    float: right;
  }
  a {
    display: inline-block;
  }
}


.nav {
  a {
    padding: 1em;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.nav-main {
  text-align: right;
  padding: 1em;
}
