// Rape Crisis

@include links($colorFirst);

.primary {
  background-color: $colorFirst;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: lighten($colorFirst, 10%);
  }
}

.secondary {
  background-color: $colorSecond;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: lighten($colorSecond, 10%);
  }
}

// typography

article {
  line-height: 1.5;
  &:first-letter {
    @include one-letter-circle;
    font-size: 1.5em;
    display: inline-block;
    float: left;
    margin-right: 0.5em;
  }
}

.article-alt {
  &:first-letter {
    background-color: $colorFirst;
  }
}

.article-2up {
  @media (min-width: 40em) {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-width: 20em;
       -moz-column-width: 20em;
            column-width: 20em;
  }
}

@import "rape-crisis-buttons";
@import "rape-crisis-lists";
@import "rape-crisis-panels";
