// Malaria No More

$colorFirst: #dc5a11; // burnt orange
$colorSecond: #fff; // white
$colorThird: #ebebeb; // light grey
$colorFourth: #999; // grey

// orange on white
.highlight-primary {
  background-color: $colorFirst;
  color: $colorSecond;
  a {
    color: $colorSecond;
  }
}

// dark grey, orange links, on grey
.highlight-secondary {
  background-color: $colorThird;
  color: $colorFourth;
  a {
    color: $colorFirst;
  }
}