// MAMA

$colorFirst: #32a6a6; // turquoise
$colorSecond: #124f52; // dark turquoise
$colorThird: #c4d131; // green
$colorFourth: #333; // black

// dark turquoise on turquoise
.highlight-primary {
  background-color: $colorFirst;
  color: $colorSecond;
  a {
    color: $colorSecond;
  }
  .active {
    color: lighten($colorSecond, 10%)
  }
}

// black on green
.highlight-secondary {
  background-color: $colorThird;
  color: $colorFourth;
  a {
    color: $colorFourth;
  }
}

// GEM special

$latest: #ff9933; // orange
$articles: #ea178b; // pink - Girl Heroes, Life Tips
$declaration: $colorFirst; // turquoise

// white on background colours

.latest {
  a {
    color: $latest;
  }
  > h1, > h2, > h3 {
    background-color: $latest;
  }
}

.articles {
  a {
    color: $articles;
  }
  > h1, > h2, > h3 {
    background-color: $articles;
  }
}

.declaration {
  a {
    color: $declaration;
  }
  > h1, > h2, > h3 {
    background-color: $declaration;
  }
}

.latest, .articles, .declaration {
  > h1, > h2, > h3
  > h1 a, > h2 a, > h3 a {
    color: white;
  }
}
