// Facts for Life

$colorFirst: #cce9fc; // baby blue
$colorSecond: #fff; // white
$colorThird: #0093ef; // blue
$colorFourth: #92AFC1; // grey blue


// white, blue links, on baby blue
.highlight-primary {
  background-color: $colorFirst;
  color: $colorSecond;
  a {
    color: $colorThird;
  }
  .active {
    color: #92AFC1;
  }
}

// white on blue
.highlight-secondary {
  background-color: $colorThird;
  color: $colorSecond;
  a {
    color: $colorSecond;
  }
}

.list-block {
  li {
    border-bottom: 1px dotted $colorSecond;
  }
}

//SUGGESTION: Put top and bottom borders around #header, 
//instead of on top and bottom of different inline navs

