// MAMA

$colorFirst: #f7a11a; // orange
$colorSecond: #fff; // white
$colorThird: #f0f0f0; // very light grey
$colorFourth: #999; // grey

// white on orange
.highlight-primary {
  background-color: $colorFirst;
  color: $colorSecond;
  a {
    color: $colorSecond;
  }
}

// grey, orange links, on very light grey
.highlight-secondary {
  background-color: $colorThird;
  color: lighten($colorFourth, 25%);
  a {
    color: $colorFirst;
  }
  .active {
    color: #999;
  }
}

 .b-b {
   border-bottom: solid 2px lighten($colorFourth, 25%);
 }

// MAMA special

$pregnancy: #00b0ca; // blue
$baby: #69be28; // green;
$mamaToMama: #d81f29; // red;

// white on background colours

.pregnancy {
  h1, h2, h3 {
    background-color: $pregnancy;
  }
  .more {
    @extend %l-db;
    color: $pregnancy;
  }
}

.baby {
  h1, h2, h3 {
    background-color: $baby;
  }
  .more {
    @extend %l-db;
    color: $baby;
  }
}

.mama-to-mama {
  h1, h2, h3 {
    background-color: $mamaToMama;
  }
  .more {
    @extend %l-db;
    color: $mamaToMama;
  }
}

.pregnancy, .baby, .mama-to-mama {
  h1, h2, h3
  h1 a, h2 a, h3 a {
    color: white;
  }
}