// Rape Crisis

.btn {
  color: $colorFirst;
  font-size: 1.16em;
}

h1, h2, h3, h4 {
  // is this really necessary?
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 2.5em;
  line-height: 1.417;
}

h4 {
  font-size: 1.53em;
  line-height: 1.413;
}

.cta-crisis-line {
  font-size: 1.5em;
  margin: 0.5em;
}

// panels


.panel-alt {
  padding: 0.5em;
}

.panel-item {
  @include l-tac;
}

.panel-item-team {
  font-size: 1.53em;
  line-height: 1.413;
  img {
    display: block;
    width: 50%;
    margin: 0 auto 2em auto;
  }
  h4, p {
    margin-bottom: 0;
  }
  p:first-of-type {
    color: $colorThird;
    margin-top: 0;
    font-size: 0.75em;
  }
}

// typography

.list-inline {
  li {
    margin-left: 0.1em;
    margin-right: 0.1em;
  }
}

// nav

.nav-social {
  a {
    display: inline-block;
  }
}


.nav {
  a {
    padding: 1em;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
