// Ebola

$colorFirst: #ef5500; // dark orange
$colorSecond: #fff; // white
$colorThird: #f6f4e3; // light grey grey
$colorFourth: #aac2ac; // grey green

// white on orange
.highlight-primary {
  background-color: $colorFirst;
  color: $colorSecond;
  a {
    color: $colorSecond;
  }
}

// grey green on light grey green
.highlight-secondary {
  background-color: $colorThird;
  color: $colorFourth;
  a {
    color: $colorFourth;
  }
}