// Ebola

$colorFirst: #C51332; // red
$colorSecond: #161518; // dark grey
$colorThird: #1573AD; // blue
$colorFourth: #EBEBEB; // light grey

@include links($colorFirst);

body {
  font-family: "Exo 2", sans-serif;
  color: lighten($colorSecond, 40%);
}

// dark grey
.highlight-primary {
  color: $colorSecond;
}

// dark grey
.highlight-secondary {
  color: lighten($colorSecond, 10%);
}

// blue
.highlight-tertiary {
  color: $colorThird;
}

.btn {
  background-color: red;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// polls

.poll-results {
  padding: 1em;
  p {
    margin-bottom: 0.25em;
  }
}

.poll-result-bar {
  background-color: $colorFirst;
  height: 2em;
}


// comments

.link-comments {
  color: lighten($colorSecond, 50%);
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: $colorSecond;
    text-decoration: underline;
  }
}

.link-comments-alt {
  color: $colorFirst;
  &:hover {
    color: $colorFirst;
  }
}

.comment-list {
  @include no-bull;
  @include no-mp;
  padding: 1em 0;
  p {
    margin-top: 0;
  }
}

.comment {
  padding: 1em 1.5em;
  border-top: solid 1px $colorFourth;
  &:last-child {
    border-bottom: solid 1px $colorFourth;
  }
}

.comment-actions {
  padding: 0;
  li:first-child {
    a {
      padding-left: 0;
    }
  }
}

// forms and validation

.error {
  color: $colorFirst;
}

.input-error {
  border: solid 1px $colorFirst;
}