// MAMA

@include links($colorSecond);

// dark turquoise on turquoise
.highlight-primary {
  color: $colorSecond;
  .active {
    color: lighten($colorSecond, 10%)
  }
}

// black on green
.highlight-secondary {
  color: $colorThird;
  a {
    color: $colorThird;
  }
  .active {
    color: lighten($colorThird, 30%)
  }
}

// GEM special

$latest: #ff9933; // orange
$articles: #ea178b; // pink - Girl Heroes, Life Tips
$girlEffect: $colorFirst; // turquoise

.list-header {
  border-bottom: solid 1px #ddd;
}

.more {
  font-weight: bold;
}

// white on background colours

.latest {
  a {
    color: $latest;
  }
}

.articles {
  a {
    color: $articles;
  }
}

.girl-effect {
  a {
    color: $girlEffect;
  }
}

.girl-effect-logo {
  background-color: $girlEffect;
}

.latest, .articles, .girl-effect {
  .list-header {
    @include uc;
  }
  p {
    padding-top: 0;
  }
  h3 {
    font-weight: normal;
  }
}
