$colorFirst: #C51332; // red
$colorSecond: #161518; // dark grey
$colorThird: #1573AD; // blue
$colorFourth: #EBEBEB; // light grey

// dark grey
.highlight-primary {
  background: $colorSecond url(grey-zigzag.png) 0 0 repeat;
  color: #ffffff;
}

// light grey
.highlight-secondary {
  background-color: $colorFourth;
  color: $colorFourth;
}

// blue
.highlight-tertiary {
  color: #ffffff;
  background: $colorThird url(blue-zigzag.png) 0 0 repeat;
}

.btn {
  background: $colorFirst url(img/zigzag.png) 0 0 repeat;
}


.over {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent url(img/zigzag.png) 0 0 repeat;
  }
}