// Rape Crisis

@include links($colorFirst);

.primary {
  background-color: $colorFirst;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: lighten($colorFirst, 10%);
  }
}

.secondary {
  background-color: $colorSecond;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: lighten($colorSecond, 10%);
  }
}

// typography

article {
  line-height: 1.5;
  &:first-letter {
    @include one-letter-circle;
    font-size: 1.5em;
    display: inline-block;
    float: left;
    margin-right: 0.5em;
  }
}

.article-alt {
  &:first-letter {
    background-color: $colorFirst;
  }
}

.article-2up {
  @media (min-width: 40em) {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-width: 20em;
       -moz-column-width: 20em;
            column-width: 20em;
  }
}


// buttons

.btn {
  background-color: $colorFirst;
  color: #fff;
  text-decoration: none;
  font-size: 1.16em;
  display: inline-block;
  padding: 0.5em 1.15em;
  &:hover {
    color: #fff;
    background-color: lighten($colorFirst, 10%);
  }
}

// buttons

.btn-wide {
  display: block;
}

.btn-secondary {
  background-color: $colorSecond;
  &:hover {
    color: #fff;
    background-color: lighten($colorSecond, 10%);
  }
}

.btn-tertiary {
  background-color: $colorFourth;
  color: $colorThird;
  &:hover {
    background-color: darken($colorFourth, 10%);
    color: $colorThird;
  }
  .i-arrow:before {
    border-left-color: $colorThird;
  }
}

.btn-quarternary {
  background-color: $colorThird;
  color: #fff;
  &:hover {
    background-color: darken($colorThird, 10%);
    color: #fff;
  }
  .i-arrow:before {
    border-left-color: #fff;
  }
}

.btn-icon {
  position: relative;
  padding-left: 2em;
}

.btn-group-download {
  @include l-tac;
  .btn {
    margin: 1em;
    &:nth-child(2) {
      background-color: #2db58a;
      &:hover {
        background-color: lighten(#2db58a, 10%);
      }
    }
    &:nth-child(3) {
      background-color: #00845c;
      &:hover {
        background-color: lighten(#2db58a, 10%);
      }
    }
  }
}

// lists

.list-ordered {
  counter-reset: fancyorderedlist;
  padding: 0;
  list-style: none;
  li {
    counter-increment: fancyorderedlist;
    position: relative;
    margin-bottom: 3em;
    &:before {
      position: absolute;
      left: 0;
      top: -0.5em;
      content: counter(fancyorderedlist);
      font-size: 1.53em;
      line-height: 1.413;
    }
  }
}

.panel-what-to-do {
  counter-reset: whattodo;
}

.list-ordered {
  h4 {
    text-transform: uppercase;
    padding-left: 3em;
  }
  li {
    counter-increment: whattodo;
    &:before {
      content: counter(whattodo);
      @include one-letter-circle;
    }
    &:nth-of-type(4n+1) {
      &:before {
        background-color: darken($colorSecond, 10%);
      }
    }
    &:nth-of-type(4n+2) {
      &:before {
        background-color: $colorSecond;
      }
    }
    &:nth-of-type(4n+3) {
      &:before {
        background-color: lighten($colorSecond, 10%);
      }
    }
    &:nth-of-type(4n+4) {
      &:before {
        background-color: adjust-hue($colorSecond, 40%);
      }
    }
  }
}

.list-ordered-alt {
  h4 {
    padding-left: 2.5em;
  }
  li {
    &:before {
      color: $colorSecond;
      border: solid 2px $colorSecond;
      border-radius: 0.25em;
      padding: 0.25em 0.6em;
    }
    &:nth-of-type(n) {
      &:before {
        background-color: transparent;
      }
    }
  }
}

.list-accordion {
  li {
    padding: 0.5em 0;
    border-bottom: solid 1px lighten($colorThird, 20%);
    &:first-child {
      border-top: solid 1px lighten($colorThird, 20%);
    }
  }
  :target[id] {
    .list-accordion-header {
      &:after {
        content: "-";
        background-color: $colorFirst;
        padding: 0 0.4em 0.125em 0.4em;
      }
    }
  }
}

.list-accordion-header {
  display: block;
  position: relative;
  line-height: 2;
  padding-right: 2em;
  @include uc;
  &:after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0;
    background-color: $colorSecond;
    color: #fff;
    padding: 0.1em 0.3em;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1;
  }
}

.list-tabs {
  background-color: black; // !!!
  border-bottom: solid 1px lighten($colorThird, 40%);
  a {
    padding: 1em;
    color: $colorThird;
    background-color: $colorFourth;
    text-decoration: none;
    text-transform: uppercase;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
  }
  .tab-selected {
    position: relative;
    &:after {
      content: "";
      border-bottom: solid 1px white;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
    }
    a {
      color: $colorSecond;
      background-color: white;
    }
  }
}

.list-tabs-alt {
  a {
    color: $colorSecond;
    background-color: transparent;
  }
  .tab-selected {
    a {
      background-color: white;
      @media (min-width: 40em) {
        &:after {
          display: block;
          position: absolute;
          content: "";
          left: 45%;
          bottom: -0.25em;
          width: 0;
          height: 0;
          background-color: transparent;
          border: solid 0.5em transparent;
          border-top-color: $colorSecond;
          border-radius: 0.2em;
        }
      }
    }
  }
}

.list-tab-item {
  padding: 1em;
}

// panels

.panel-alt {
  @include clearfix;
  padding: 0.5em;
  background-color: $colorFourth;
}

.panel-inv {
  @include clearfix;
  padding: 1em;
  background: $colorFirst;
  color: #fff;
}

.panel-inv-alt {
  padding: 1em;
  background: $colorThird;
  color: #fff;
}

.panel-inset {
  @background-color: $colorFourth;
  margin: 1em;
  padding: 2em;
  border: solid 1px darken($colorFourth, 10%);
  border-radius: 0.25em;
}

.panel-donate {
  img {
    @media (min-width: 35em) {
      float: left;
      margin-right: 2em;
    }
  }
  .btn {
    @media (min-width: 60em) {
      float: right;
    }
  }
  .panel-donate-text {
    @media (min-width: 60em) {
      float: left;
      width: 20em;
    }
    @media (min-width: 70em) {
      width: 30em;
    }
  }
}

.panel-stats {
  .panel-item {
    @include grid-2up-big-gutter;
    @include grid-4up-big-gutter;
  }
}

.panel-item-team {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
  @include grid-2up-big-gutter;
  @include grid-4up-big-gutter;
}

.panel-org,
.panel-what-to-do,
.panel-the-road,
.panel-other-ways {
  .panel-item, .panel-item-alt {
    @include grid-3up;
  }
}

.panel-article {
  @media (min-width: 38em) {
    padding-left: 40%;
    background: transparent url(/fufu/img/ceiling-cat-200.jpg) left top no-repeat;
    background-size: 35%;
  }
  @media (min-width: 64em) {
    padding-left: 50%;
    background: transparent url(/fufu/img/ceiling-cat-400.jpg) left top no-repeat;
    background-size: 45%;
  }
}

.panel-the-road {
  text-align: center;
  .panel-item {
    padding: 1em;
  }
  .panel-item:nth-child(even) {
    background-color: #e1edf0;
  }
  h4 {
    font-size: 1.5em;
    margin: 1em 0;
  }
}
