// Ebola

$colorFirst: #d15c4d; // dark orange
$colorSecond: #f6f4e3; // cream
$colorThird: #aac2ac; // grey green
$colorFourth: #666; // light grey grey

// white on orange
.highlight-primary {
  background-color: $colorFirst;
  color: $colorSecond;
  a {
    color: $colorSecond;
  }
}

// green on cream
.highlight-secondary {
  background-color: $colorSecond;
  color: lighten($colorThird, 10%);
  a {
    color: $colorThird;
  }
  .active {
    color: lighten($colorThird, 10%);
  }
}

.list-block {
  li {
    border-bottom: 1px solid $colorSecond;
  }
}

.list-inline {
  
  li {
    border-left: solid 2px ;
  }
}

//Is there a more elegant way of doing this?
//adds bottom border to in-line navs
.b-b{
      border-bottom: 6px solid $colorThird;
}