$colorFirst: #C51332; // red
$colorSecond: #27262b; // dark grey
$colorThird: #1573AD; // blue
$colorFourth: #EBEBEB; // light grey

// dark grey
.highlight-primary {
  background-color: $colorSecond;
  color: #ffffff;
  a {
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }
}

// light grey
.highlight-secondary {
  background-color: $colorFourth;
  color: $colorFourth;
}

// blue
.highlight-tertiary {
  color: #ffffff;
  background: $colorThird url(img/zigzag.png) 0 0 repeat;
}

.highlight-quaternary {
  color: lighten($colorSecond, 40%);;
  background-color: $colorFourth; 
}

.btn {
  background: $colorFirst url(img/zigzag.png) 0 0 repeat;
}


.over {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent url(img/zigzag.png) 0 0 repeat;
    z-index: 0;
  }
}

.over-poll {
  background-color: $colorFirst; 
}

.article-teaser-thumb {
  float: left;
  width: 20%;
  img {
    width: 100%;
  }
}

.article-teaser-text {
  float: right;
  width: 75%;
}