// MAMA

$colorFirst: #f7a11a; // orange
$colorSecond: #fff; // white
$colorThird: #f0f0f0; // very light grey
$colorFourth: #999; // grey

// white on orange
.highlight-primary {
  background-color: $colorFirst;
  color: $colorSecond;
  a {
    color: $colorSecond;
  }
}

// grey, orange links, on very light grey
.highlight-secondary {
  background-color: $colorThird;
  color: lighten($colorFourth, 25%);
  a {
    color: $colorFirst;
  }
  .active {
    color: #999;
  }
}

// MAMA special

$pregnancy: #00b0ca; // blue
$baby: #69be28; // green;
$mamaToMama: #d81f29; // red;

// white on background colours

.list-header {
  color: white;
  font-weight: normal;
}

.more {
  // @extend %l-db;
  padding-left: 0.5em;
}

.pregnancy {
  .list-header {
    background-color: $pregnancy;
  }
  .more {
    color: $pregnancy;
    a {
      color: $pregnancy;
    }
  }
}

.baby {
  .list-header {
    background-color: $baby;
  }
  .more {
    color: $baby;
    a {
      color: $baby;
    }
  }
}

.mama-to-mama {
  .list-header {
    background-color: $mamaToMama;
  }
  .more {
    color: $mamaToMama;
    a {
      color: $mamaToMama;
    }
  }
}