// Rape Crisis

@include links($colorFirst);

.primary {
  background-color: $colorFirst;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: lighten($colorFirst, 10%);
  }
}

.secondary {
  background-color: $colorSecond;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: lighten($colorSecond, 10%);
  }
}

// buttons

.btn {
  background-color: $colorFirst;
  color: #fff;
  text-decoration: none;
  font-size: 1.16em;
  display: inline-block;
  padding: 0.5em 1.15em;
  &:hover {
    color: #fff;
    background-color: lighten($colorFirst, 10%);
  }
}

// buttons

.btn-wide {
  display: block;
}

.btn-secondary {
  background-color: $colorSecond;
  &:hover {
    color: #fff;
    background-color: lighten($colorSecond, 10%);
  }
}

.btn-icon {
  position: relative;
  padding-left: 2em;
}

.btn-group-download {
  @include l-tac;
  .btn {
    margin: 1em;
    &:nth-child(2) {
      background-color: #2db58a;
      &:hover {
        background-color: lighten(#2db58a, 10%);
      }
    }
    &:nth-child(3) {
      background-color: #00845c;
      &:hover {
        background-color: lighten(#2db58a, 10%);
      }
    }
  }
}

// lists

.list-ordered {
  counter-reset: whattodo;
  padding: 0;
  list-style: none;
  li {
    counter-increment: whattodo;
    position: relative;
    margin-bottom: 3em;
    &:before {
      position: absolute;
      left: 0;
      top: -0.5em;
      content: counter(whattodo);
      font-size: 1.53em;
      line-height: 1.413;
    }
  }
}

.list-ordered-rape-crisis {
  h4 {
    text-transform: uppercase;
    padding-left: 3em;
  }
  li {
    &:before {
      background-color: $colorSecond;
      color: #fff;
      padding: 0.5em 1em;
      border-radius: 50%;
    }
    &:nth-of-type(4n+1) {
      &:before {
        background-color: darken($colorSecond, 10%);
      }
    }
    &:nth-of-type(4n+2) {
      &:before {
        background-color: $colorSecond;
      }
    }
    &:nth-of-type(4n+3) {
      &:before {
        background-color: lighten($colorSecond, 10%);
      }
    }
    &:nth-of-type(4n+4) {
      &:before {
        background-color: adjust-hue($colorSecond, 40%);
      }
    }
  }
}

.list-ordered-rape-crisis-alt {
  h4 {
    padding-left: 2.5em;
  }
  li {
    &:before {
      color: $colorSecond;
      border: solid 2px $colorSecond;
      border-radius: 0.25em;
      padding: 0.25em 0.6em;
    }
  }
}


// panels

.panel-alt {
  @include bg-alt;
  padding: 0.5em;
}

.panel-item-team {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
}

.panel-inset {
  @include bg-alt;
  margin: 1em;
  padding: 2em;
  border: solid 1px darken($colorFourth, 10%);
  border-radius: 0.25em;
}

.panel-donate {
  img {
    @media (min-width: 35em) {
      float: left;
      margin-right: 2em;
    }
  }
  .btn {
    @media (min-width: 60em) {
      float: right;
    }
  }
  .panel-donate-text {
    @media (min-width: 60em) {
      float: left;
      width: 20em;
    }
    @media (min-width: 70em) {
      width: 30em;
    }
  }
}
