// Action4Women

$colorFirst: #C51332; // red
$colorSecond: #27262b; // dark grey
$colorThird: #1573AD; // blue
$colorFourth: #EBEBEB; // light grey

@include links($colorFirst);

body {
  font-family: "Exo 2", sans-serif;
  color: lighten($colorSecond, 40%);
}

// dark grey
.highlight-primary {
  color: $colorSecond;
}

// dark grey
.highlight-secondary {
  color: lighten($colorSecond, 10%);
  li {
    border: none; 
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// blue
.highlight-tertiary {
  color: $colorThird;
}

// typography

p {
  margin: 0;
  padding-bottom: 1em;
}

.over-text {
  color: #ffffff;
  &:hover {
    color: #ffffff;
  }
}

// articles

.category {
  font-size: 0.8em;
  text-transform: uppercase;
  color: lighten($colorSecond, 60%);
}

.article-title {
  font-size: 2em;
  line-height: 1;
  text-transform: uppercase;
}

.article-author {
  color: $colorFirst;
  padding-bottom: 0;
}

.article-date {
  font-size: 0.7em;
}

.article-header {
  @include clearfix;
  padding: 0 1em 1em 1em;
  .article-meta {
    float: left;
    padding-top: 0.75em;
  }
  .link-comments {
    float: right;
  }
}

article {
  padding: 0 1em 4em 1em;
  p:first-child {
    color: $colorFirst;
    font-size: 1.25em;
  }
}

// buttons

.btn {
  background-color: $colorFirst;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: #ffffff;
    background-color: lighten($colorFirst, 10%);
  }
}

// polls

.poll-results {
  padding: 1em;
  p {
    margin-bottom: 0.25em;
  }
}

.poll-result-bar {
  background-color: $colorFirst;
  height: 2em;
}


// comments

.link-comments {
  color: lighten($colorSecond, 50%);
  text-decoration: none;
  &:hover {
    color: $colorSecond;
    text-decoration: underline;
  }
}

.link-comments-alt {
  color: $colorFirst;
  &:hover {
    color: $colorFirst;
  }
}

.comments {
  padding: 0 1em 1em 1em;
  margin: 0 1.5em;
  background-color: $colorFourth;
  font-size: 0.9em;
}

.comments-header {
  padding-bottom: 1em;
}

.comment-list {
  @include no-bull;
  @include no-mp;
  p {
    margin-top: 0;
  }
}

.comment {
  padding: 1em 0;
  border-bottom: solid 1px lighten($colorSecond, 70%);
  &:last-child {
    border-bottom: none;
  }
}

.comment-actions {
  padding: 0;
  li:first-child {
    a {
      padding-left: 0;
    }
  }
}

.comment-author {
  font-weight: bold;
}

.comment-author-avatar {
  float: left;
  margin: 0 1em 0.5em 0;
}

.comment-add {
  float: right;
  text-transform: uppercase;
  padding-top: 0.5em;
  font-weight: bold;
}

// forms and validation

.error {
  color: $colorFirst;
}

.input-error {
  border: solid 1px $colorFirst;
}

// footer 

[role="contentinfo"] {
  background: $colorSecond;
}

.copyright {
  text-align: center;
  padding-top: 1em;
  margin-top: 1em;
  border-top: solid 1px lighten($colorSecond, 40%);
}

.nav-legal-lang {
  li {
  border-color: lighten($colorSecond, 40%);
    &:last-child {
      padding-left: 0.5em;
    }
  }
  a {
    text-decoration: none;
    color: lighten($colorSecond, 40%);
    &:hover {
      color: #ffffff;
    }
  }
  .active {
    color: #ffffff;
  }
}