// Malaria No More

$primaryColor: #dc5a11; // burnt orange
$secondaryColor: #fff; // white
$tertiaryColor: #ebebeb; // light grey
$quarternaryColor: #999; // grey

// orange on white
.highlight-primary {
  background-color: $primaryColor;
  color: $secondaryColor;
  a {
    color: $secondaryColor;
  }
}

// dark grey, orange links, on grey
.highlight-secondary {
  background-color: $tertiaryColor;
  color: $quarternaryColor;
  a {
    color: $primaryColor;
  }
}