// Typography

html {
  font-family: $font-family-sans-serif;
  line-height: 1.25;
  // Typography tweaks to make generic fonts display more like the WebFont
}

.wf-active {
  // load the WebFont, adjust size, line-height, etc.
}

h1, h2, h3, h4 {
  margin-top: 0;
}

// Preferred measure: 22-38em
// Use this on modules

// .main {
//   @media (min-width: 38em) {
//     padding-left: 20%;
//     padding-right: 20%;
//   }
//   @media (min-width: 64em) {
//     padding-left: 25%;
//     padding-right: 25%;
//   }
// }

// http://typecast.com/blog/a-more-modern-scale-for-web-typography

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

@media (min-width: 43.75em) {
  html {
    line-height: 1.375;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.25;
  @media (min-width: 43.75em) {
      font-size: 2.5em;
      line-height: 1.125;
  }
  @media (min-width: 56.25em) {
      font-size: 3em;
      line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
  @media (min-width: 43.75em) {
      font-size: 2em;
      line-height: 1.25;
  }
  @media (min-width: 56.25em) {
      font-size: 2.25em;
      line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
  @media (min-width: 43.75em) {
      font-size: 1.5em;
      line-height: 1.25;
  }
  @media (min-width: 56.25em) {
      font-size: 1.75em;
      line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
  @media (min-width: 43.75em) {
      line-height: 1.22222222;
  }
}

blockquote {
  font-size: 1.25em;
  line-height: 1.25;
  @media (min-width: 43.75em) {
      font-size: 1.5em;
      line-height: 1.45833333;
  }
}

// helper classes

.uc {
  @include uc;
}
