@import "variables";

p, table {
  hyphens: auto;
}

blockquote {
  margin: 1.5em;
}

// web font loading classes

// .wf-loading
// .wf-active
// .wf-inactive

// text helper classes

%uc {
  text-transform: uppercase;
}

%capitalize {
  text-transform: capitalize;
}

%no-bull {
  list-style: none;
}

h1, h2, h3, h4 {
  margin-top: 0;
}