// Variables

$bodycolor: #fff;
$textcolor: #000;


// Typography

$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;

// Colour

$primaryColor: #d15c4d; //orange
$secondaryColor: #ccb;	//cream
$tertiaryColor: #aac2ac;	//green

// Links

$linkcolor: rgb(1,53,104);
$linkcolorhover: darken($linkcolor, 10);
$linkcolorvisited: darken($linkcolorhover, 10);
$linkcolorfocus: $linkcolorhover;

